$color-primary-light:#ff4d4d;
$color-primary-medium:#E4322B;
$color-primary-dark:#BB2522;

$gradient-primary: linear-gradient(to right, #cb2d3e, #ef473a);

$color-secondary-light:rgb(255, 238, 55);
$color-secondary-medium:#FFDF00;
$color-secondary-dark:#F4DA01;

$color-tertiary-light:rgb(68, 68, 255);
$color-tertiary-medium :#005DAB;
$color-tertiary-dark:rgb(4, 4, 66);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;