.bg-video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    &__content{
        height: 100%;
        width: 100%;
       
        opacity: 0.15;
        overflow: hidden;

        object-fit: cover;
    }
}